.root {
    -fx-font-family: "Inter";
    -fx-font-size: 14px;
}

.disabled {
    -fx-opacity: 0.6;
}

.flat-input {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #A6A6A6;
}

.menu-button{
    -fx-padding: 4px 8px;
}