.table-header {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 20 20 0 0;
    -fx-padding: 8px 16px;
    -fx-font-weight: bold;
}

.table-header-label {
    -fx-font-size: 14px;
    -fx-font-family: Inter;
}

.table-body {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 0 0 20 20;
    -fx-padding: 8px;
}

.table-item {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 20px;
    -fx-padding: 8px;
}

.table-item-label {
    -fx-font-size: 14px;
    -fx-font-family: Inter;
}